:root {
  font-size: 15px;
  font-weight: 300;
  font-family: "Spartan";
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  padding-left: 5vw;
}

.sub-sec {
  margin: 10% 20%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.star-one,
.star-two,
.star-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 4%;
  border-radius: 8px;
}

.star-wrap {
  margin-left: -38%;
}

.star-two {
  margin-left: 5%;
}

.star-three {
  margin-left: 10%;
}

.head {
  color: #502050;
  font-size: 34px;
  font-weight: 700;
}

.sub-con {
  padding: 0% 20%;
}

.paragraph1 {
  color: #937b92;
  font-size: 11px;
  margin-top: 2%;
}

.star {
  width: 10px;
  height: 10px;
  margin: 0% 1%;
}

.star-p {
  white-space: nowrap;
  color: #502050;
  font-size: 14px;
  font-weight: 700;
  margin: 0% 5%;
}

.sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1,
.box2,
.box3 {
  background-color: #502050;
  margin: 0% 1%;
  border: 1px solid #502050;
  border-radius: 8px;
}

.text {
  color: #f7f2f7;
  font-size: 10px;
  margin-top: 5%;
}

/* .purple{
  display: flex;
  color: hsl(300, 43%, 22%);

} */
.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colt,
.iren,
.anne {
  border-radius: 54px;
  height: 50px;
  width: 50px;
}

.sub-box {
  margin: 6% 7%;
}

.smit {
  color: #fff;
  font-size: 14px;
  margin-left: 8%;
  margin-top: 10%;
  white-space: nowrap;
}

.veri {
  margin-left: 8%;
  margin-top: 2%;
  white-space: nowrap;
  color: #ee68a4;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .star-one,
  .star-two,
  .star-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */